<mat-toolbar class="toolbar-style" style="background-color: #4E2B7D;color:#FFF">
    <span class="ml-5"><img src="../../../assets/img/IdeaBoss Logo.svg" width="35px"></span>
    <span class="text-uppercase ideaboss-heading">Ideaboss</span>
    <span class="example-spacer"></span>
    <div id="header-menu">
   <a href="#home"><button mat-button>Home</button></a> 
   <a href="#aboutUs"><button mat-button>About Us</button></a>
   <a href="#ourOfferings"><button mat-button>Our Offering</button></a> 
    <a href="#ourTeam"><button mat-button>Our Team</button></a>
   <a href="#contectUs"><button mat-button>Contact Us</button></a> 
</div>
</mat-toolbar>