.page-footer{
    background-color: #172B4D;
    }
    .footer{
      padding:10px 10px
    }
    .footer a{
      color:white;
      text-decoration: none;
    }
    .footer span{
    color:#b09fb1
    }